<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bdy">
    <div class="contain">
        <div class="login">
            <h1 class="text_login">Login</h1>
            <!-- Display error message if available -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="error-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username" required="required" />
                <input type="password" name="password" placeholder="Password" required="required" />
                <button type="submit" class="btn_submit">Log In</button>
            </form>
            <a href="/register" class="btn_register">Register Here</a>
        </div>                                                                                                                              
    </div>

</body>
</html>
